<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoPersonaje"
        tools:targetApi="31">
        <activity
            android:name=".Contrato"
            android:exported="false" />
        <activity
            android:name=".Gacha"
            android:exported="false" />
        <activity
            android:name=".Mascotas"
            android:exported="false" />
        <activity
            android:name=".Mazmorras"
            android:exported="false" />
        <activity
            android:name=".Mercader"
            android:exported="false" />
        <activity
            android:name=".Enemigo"
            android:exported="false" />
        <activity
            android:name=".Ciudad"
            android:exported="false" />
        <activity
            android:name=".Objeto"
            android:exported="false" />
        <activity
            android:name=".Aventura"
            android:exported="false" />
        <activity
            android:name=".PersonajeCreado"
            android:exported="false" />
        <activity
            android:name=".CreacionPersonaje"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>